@model IEnumerable<ScaffoldingEx.Models.ModelAven>

@{
	Layout = null;
}

<div>
	<p>
		@Html.ActionLink("Create New", "Create")
	</p>
	<table class="table">
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Name)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.HeroName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Age)
			</th>
			<th></th>
		</tr>

		@foreach (var item in Model)
		{
			<tr>
				<td>
					@*@Html.DisplayFor(modelItem => item.Name)*@

					@item.Name
				</td>
				<td>
					@* @Html.DisplayFor(modelItem => item.HeroName)*@

					@item.HeroName
				</td>
				<td>
					@*@Html.DisplayFor(modelItem => item.Age)*@

					@item.Age
				</td>
				<td>
					@Html.ActionLink("Edit", "Edit", new { id = item.id }) |
					@Html.ActionLink("Details", "Details", new { id = item.id }) |
					@Html.ActionLink("Delete", "Delete", new { id = item.id })
				</td>
			</tr>
		}

	</table>
	<hr />
	<ul>
		<li class="nav-item">
			@Html.ActionLink("Поиск", "Seacrh", "Home")
			
		</li>
	</ul>
	<hr />
</div>

@*
@Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
@Scripts.Render("~/Scripts/jquery-3.4.1.js")*@
